div {
    border: rosybrown dashed 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.container {
    text-align: left;
    height: 300px;
    width: 300px;
}

.content {
    width: 75%;
    background: #fc0;
}

.right {
    position: absolute;
    right: 10px;
    top: 300px;
    background-color: black;
}